body {
    display: flex;
    justify-content: center;
}

.main {
    background-color: whitesmoke;
    border: 2px solid black;
    width: 1440px;
    height: 1040px;
    display: flex;
}

.photo-container {
    border: 2px solid green;
    flex: 1;   
}

img {
    /* this will make the image stretch and no overflow*/
    height:0;
    min-height:100%;
}

.form-container {
    border: 2px solid blue;
    flex: 2;
}

.signup-container {
    background-color: pink;
    border: 2px solid red;
}

#green {
    color: darkgreen;
}




