@font-face { font-family: Norse-bold; src: url('Norse-Bold.otf'); } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    line-height: 1.1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    background-color: whitesmoke;
    text-align: left;
    
    display: flex;
    width: 100%;
    height: 100%;
}

/* **** PHOTO CONTAINER CSS **** */
.photo-container {
    flex: 1;  
    width: 100%;
    height: auto; 
    position: relative; 
    z-index: 1;
}

.photo-wrapper {
    position: relative;
    width: 100%;
    height: 100%;       /* Ensures full height of .photo-container */
    overflow: hidden;   /* Prevents the image from spilling out */
}

.green-photo {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2; 
    object-fit: cover;  /* Ensures the image scales properly without distortion */
    top: 0;
    left: 0;
}

.photo-header {
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.logo-overlay {
    background-color: rgb(0 0 0 / 0.5); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 3;
}

#left-logo {
    flex: 1;
    margin: 10px;
    max-width: 15%;
}

#right-logo {
    flex: 1;
    flex-grow: 0;
    align-content: center;
    font-family: Norse-bold;
    font-size: 85px;
    color: white;
    margin: 10px;
}

.photo-credit-overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 3;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.photo-credit-overlay p, a {
    color: white;
    font-size: 14px;
}

/* **** FORM CONTAINER CSS **** */
.form-container {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.form-header {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px 40px 60px;
    width: 70%;
    padding-top: 10%;;
}

.form-header h2:nth-child(2) {
    padding-top: 20px;
} 

.form h2, fieldset {
    margin: 5px 40px;
}

.form h2 {
    padding-top: 20px;
}

.form {
    flex:1;
    background-color: white;
}

.inner-form {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.form-row {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 60%;
}

.form-row div {
    padding: 15px 40px 15px 0px;
    flex: 1;
}

.form-row label {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
}
  
.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 4px;
    font-size: 18px;
    line-height: 1.5;
}

.form-row input[type='text']:focus,
.form-row input[type='email']:focus,
.form-row input[type='tel']:focus,
.form-row input[type='password']:focus {
    border: 1px solid blue;
    outline: none; /* Removes default outline for a cleaner look */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.form-row input[type='password']:invalid {
    border: 1px solid red;
}

/* **** SUBMIT BUTTON AND CONTAINER CSS **** */
.signup-container {
    /*margin: 30px 40px 0;*/
    margin: 30px 40px 200px 40px;
}

.signup-container p {
    padding-top: 15px;
} 

#green {
    color: darkgreen;
    font-weight: bold;
}

fieldset {
    border: none;
    background-color: whitesmoke;
}

#submitBtn {
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    cursor: pointer;
}


@media(max-width:1000px) {
    .green-photo {
        width: 100%;
        height: 100%;
    }

    #left-logo {
        width: auto;
        max-width: 25%;
    }

    #right-logo {
        font-size: 50px;
    }
}

@media(max-width:800px) {
    .logo-overlay {
        flex-direction: column;
        align-items: center;
    }

    #left-logo {
        max-width: 25%;
        width: auto;
    }

    #right-logo {
        font-size: 50px;
    }

    .form-row {
        flex-direction: column;
    }
}

